<p>
  <a href="{{site.swc_site}}">소프트웨어 카펜트리(Software Carpentry)</a>의 미션은 좀더 생산적으로 연구를 수행하기 위해서 과학, 공학, 의학 분야의 지식근로자에게 과학 컴퓨팅(scientific computing) 기본적인 기술을 가르친다. 종종 과학기술분야 종사자분들이 상당한 시간을 소프트웨어 개발에 씨름하면서 보내지만, 대부분의 프로그래머는 거의 혼자서 독한한다. 결과로, 몇분이면 끝날 작업에 수시간을 소비하고, 예를 들면, 바퀴를 다시 발명하는 것처럼 다시 작성할 필요가 없는데 시간을 낭비하고, 여전히 개발한 산출물에 신빙성을 담보할 수 없다. 이 문제를 정면으로 다루기 위해서, 소프트웨어 카펜트리(Software Carpentry)는 전세계 수백개 거점에서 2일간 실습위주 워크샵을 진행한다. 단, 2일간 실습위주(hands-on) 워크숍 교육을 통해서 프로그램 설계, 버젼 제어, 데이터 관리, 작업 자동화를 포함한 기본 개념과 도구를 실습위주로 학습한다. 모든 워크샵 참여자가 서로 돕고 학습한 것을 본인 업무에 적용하길 기대합니다.
  
</p>
<p align="center">
  <em>
    소프트웨어 카펜트리에서 전달하려는 것과 이유에 대한 좀더 자세한 정보는 다음 논문을 참조한다.
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">과학 컴퓨팅을 위한 모범 사례(Best Practices for Scientific Computing)</a>".
  </em>
</p>
