<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">유닉스 쉘</h3>
    <ul>
      <li>쉘(shell) 소개</li>
      <li>파일과 디렉토리</li>
      <li>파일과 디렉토리 생성</li>
      <li>파이프(pipe)와 필터(filter)</li>
      <li>루프(Loops)</li>
      <li>쉘 스크립트(shell script)</li>
      <li>파일, 문자, 디렉토리 등 찾기</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">영문 참고서</a>, 
          <a href="http://statkclee.github.io/shell-novice/index-kr.html">국문 참고서(2015)</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-r">R 프로그래밍</h3>
    <ul>
      <li>환자 데이터(Patient Data) 분석</li>
      <li>함수 생성</li>
      <li>다수의 데이터셋 분석</li>
      <li>조건 선택</li>
      <li>명령-라인(Command-Line) 프로그램</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">영문 참고서</a>, 
          <a href="http://statkclee.github.io/r-novice-inflammation/index-kr.html">국문 참고서(2015)</a>,
          <a href="https://statkclee.github.io/r-novice-kr/">국문 참고서(2018)</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Git으로 버전관리</h3>
    <ul>
      <li>버젼 관리 소개</li>
      <li>파일에 변경사항 저장: <code>add</code>, <code>commit</code>, ...</li>
      <li>변경사항 확인: <code>status</code>, <code>diff</code>, ...</li>
      <li>파일 무시(ignore)</li>
      <li>웹에서 작업: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>충돌(Conflicts) 해결</li>
      <li>공개 과학(Open Science)</li>
      <li>협업(Collaboration)</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">영문 참고서</a>, 
          <a href="http://statkclee.github.io/git-novice/index-kr.html">국문 참고서(2015)</a></li>
    </ul>
  </div>

 <div class="col-md-6">
    <h3 id="syllabus-r-gapminder">R 데이터 분석과 시각화</h3>
    <ul>
      <li>RStudio 활용법과 도움을 청하는 법</li>
      <li>프로젝트 셋업(set up)</li>
      <li>벡터와 데이터프레임 다루기</li>
      <li>데이터 불러오고 시각화</li>
      <li>데이터 조작과 정제</li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/">영문 참고서</a>, 
          <a href="https://statkclee.github.io/r-novice-gapminder/index-kr.html">국문 참고서(2015)</a></li>
  </ul>
  </div>  

</div>
